<h1>Edición de Mesa</h1>

<%= render 'form', table: @table %>

<a href=<%= url_for(:back) %> class="pull-right" >
      <div style="height: 110px;" class="btn btn-default btn-lg">
            <h1 class="display-1"><span class="glyphicon glyphicon-circle-arrow-left"></span>Volver</h1>
          </div>
</a>
