<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Mesas</h1>

<div class = "row text-center align-center">
  <% @tables.each do |table| %>

    <a href=<%=table_path(table) %> class="align-center ">
      <div class="col-xs-3 table_box  <%= table.is_outdoor ? 'outdoor' : 'indoor' %>">
        <h2><%= table.name %></h2>
      </div>
    </a>


  <% end %>
</div>
  <br>



</div>