<h1>Editing Table Game Tax Assigment</h1>

<%= render 'form', table_game_tax_assigment: @table_game_tax_assigment %>

<%= link_to 'Show', @table_game_tax_assigment %> |
<%= link_to 'Back', table_game_tax_assigments_path %>
