// Place all the styles related to the kitchen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header{

	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.row_header{
	
	margin: 10px;
	position: float;
	text-align: center;
	color: white;
	border-radius: 25px;
	display: table;
	overflow: hidden;
	width: 100%;

	margin: 10px;
	height: 100px;
	border: 2px solid;
	border-radius: 25px;
	background-color: #F0B430

}

.row_field{
	
	margin: 10px;
	position: float;
	text-align: center;
	color: white;
	border: 2px solid;
	border-radius: 25px;

}



.order_field{

	margin: 10px;
	position: float;
	text-align: center;
	color: white;
	border: 2px solid;
	border-radius: 25px;
	white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.product_image{
	max-width: 100%;
	max-height: 50%;
}

.btn_complete {
	display: table;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.2); 
	color: white;
	width: 100%;
	min-height: 30%;
	margin: 3px;
	border: 2px solid;
	border-radius: 25px;
	border-color: #F0B430;
	text-align: center; 
	padding: 0px;
}

.text_btn {
	
	color: #F0B430;
	text-align:center; 
	line-height:65px;

}