// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product_box{
	height: 150px;
	margin: 10px;
	position: float;
	text-align: center;
	color: white;
	border: 2px solid;
	border-radius: 25px;
	overflow: hidden;
}

.product_image_box{
	width: 100%;
	margin: 10px;
	position: float;
	text-align: center;
	overflow: hidden;
}