// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_box{
	height: 250px;
	background-color: #D9C400;
	max-width: 300px;
	display: table;
	overflow: hidden;
	margin: 10px;
	position: float;
	text-align: center;
	color: white;
}

.table_box h2 {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.center_content{
	margin: auto;
}


.table_box{

	height: 200px;
	min-width: 200px;
	margin: 10px;
	position: float;
	text-align: center;
	color: white;
	border: 2px solid;
	border-radius: 25px;
}

.invoice_box{
	color: white;
	min-height: 45px;
	border: 2px solid;
	margin: 10px;
	border-radius: 25px;
	overflow: hidden;
}

.admin_btn{
	height: 150px;
	min-width: 200px;
	margin: 10px;
	position: float;
	text-align: center;
	color: white;
	border: 2px solid;
	border-radius: 25px;
}

.order_box{
	font-family: 'Roboto Condensed', sans-serif;
	height: 400px;
	display: table;
	overflow: hidden;
	max-width: 47%;
	margin: 10px;
	position: float;
	text-align: center;
	color: white;
}


.btn_edit{
	display: table;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.2); 
	color: white;
	width: 100%;
	min-height: 25%;
	margin: 3px;
	border: 2px solid;
	border-radius: 25px;
}

.btn_delete{
	display: table;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.3); 
	color: white;
	width: 100%;
	height: 25%;
	margin: 3px;
	border: 2px solid;
	border-radius: 25px;
}

.centered_text{
	display: table-cell; vertical-align: middle;
}

.product{
	background-color: #D9C400;
}

.board_game{
	background-color: #59955C;
}

.outdoor {
	background-color: #008055;
	color: white;
}

.indoor {
	background-color: #80002A;
	color: white;
}