<h1>Nueva Categoría</h1>

<%= render 'form', category: @category %>

<a href=<%= admin_index_categories_path %> class="pull-right" >
      <div style="height: 110px;" class="btn btn-default btn-lg">
            <h1 class="display-1"><span class="glyphicon glyphicon-circle-arrow-left"></span>Volver</h1>
      </div>
</a>